<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<!-- UNUSED  -->
<!-- Native Hibernate APIs and hbm.xml Mapping  -->

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
      		org.hibernate.dialect.MySQLDialect
   		</property>
   		<property name="hibernate.connection.driver_class">
      		com.mysql.jdbc.Driver
   		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/lifelogger
		</property>
		<property name="hibernate.connection.username">
      		root
		</property>
   		<property name="hibernate.connection.password">
   		</property>
   		<!-- Echo all executed SQL to stdout -->
   		<property name="show_sql">
   			true
   		</property>
   		<property name="connection.pool_size">
   			1
   		</property>
   		<!-- Disable the second-level cache  -->
   		<property name="cache.provider_class">
   			org.hibernate.cache.internal.NoCacheProvider
   		</property>
   		<!-- Drop and re-create the database schema on startup -->
   		<property name="hbm2ddl.auto">
   			create
   		</property>
   		
   
		<mapping resource="lifelogger/data/MeterData.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>

